
.vs/SimpleGame/v17/Browse.VC.db
.vs/SimpleGame/v17/Browse.VC.db-shm
.vs/SimpleGame/v17/Browse.VC.db-wal
.vs/SimpleGame/v17/Browse.VC.opendb
.vs/SimpleGame/v17/ipch/901591d69c1a097c.ipch
.vs/SimpleGame/FileContentIndex/412db805-1cc8-4fc4-87c6-d4c7863cf6c8.vsidx
.vs/SimpleGame/FileContentIndex/51f7e2dc-99a4-4e9c-b9c5-b554e7d68797.vsidx
.vs/SimpleGame/FileContentIndex/read.lock
SimpleGame.sln
